*{
    color: #333333;
}
.navbar-brand {
    font-size: 25px;
}

#Store {
    color: #FFB665;
}

#text_under_first_plugin {
    text-align: center;
}

#second_text_under_first_plugin {
    text-align: center;
    font-size: 13px;
}

#h1_heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

a {
    text-decoration: none;
    color: black;
}

.the_big_flamingo {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.the_big_flamingo:hover {
    text-decoration: underline solid black 1px;
}

.big_flamingo_author {
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.big_flamingo_author:hover {
    text-decoration: underline solid black 1px;
}

.para_under_flamingo {
    font-size: 13px;
}

.container_books {
    height: 300px;
    width: 200px;
}
.txt_under_image{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-text{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.read_more{
    border-radius: 60px;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}
.card-para,
.read_more{
    font-size: 14px;
}
.read_more:hover{
    color: white;
    background-color: #FFB665;
    transition: 0.5s;
    border: 1px solid #FFB665;
}
.card-img-top{
    padding: 10px;
}
#h2_heading{
    text-align: center;
}
.btn{
    background-color: #FFB665;
    color: white;
    border: #FFB665;
    border-radius: 10px;
}
.btn:hover{
    background-color: #454545;
    border: 1px solid #454545;
}
#h3_heading{
    font-size: 15px;
}
hr{
    color: #333333;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  margin-left: -10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.shop{
    color: #333333;
}